mixin videoPlayer(video = {})
    .video-player#js-video-player
        video(src=`/${video.src}`)
        .video-player__controls
            .video-player__column
                input.video-player__volume#js-volume(type="range", min="0", max="1", step="0.1", value="0.5")
                span#js-volume-button
                    i.fas.fa-volume-down
                span
                    span#js-current-time 00:00:00 
                    |/ 
                    sapn#js-total-time 00:00:00
            .video-player__column
                span#js-play-button
                    i.fas.fa-play
            .video-player__column
                sapn#js-full-screen
                    i.fas.fa-expand